{% extends "navbar.html" %}
{% import 'render_personajes.html' as macros %}

{% block content %}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4">
                <h2>Personaje seleccionado</h2>
                {{ macros.render_personaje(personajes[idx],False,False,idx,idx) }}
                <div class="armour-character dark">
                    <a href="/decorar/martillo/{{ idx }}"><button><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9Tm6PGgKVrbqeoGFasKtA-RJthRIDlM0tvQ&usqp=CAU" /></button></a>
                    <a href="/decorar/casco/{{ idx }}"><button><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9Tm6PGgKVrbqeoGFasKtA-RJthRIDlM0tvQ&usqp=CAU" /></a>
                    <a href="/decorar/armadura/{{ idx }}"><button><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9Tm6PGgKVrbqeoGFasKtA-RJthRIDlM0tvQ&usqp=CAU" /></a>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Personajes para atacar</h2>
                <div class="card-carousel personajes">
                    {% for personaje in personajes %}
                        {% if personajes.index(personaje) !=  idx %}
                            {{ macros.render_personaje(personaje, False, True, personajes.index(personaje), idx, personaje in personajes[idx].aliados) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}